.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#item-list {
    display: flex;
    flex-direction: column;
    padding: 0%;
}

button{
    margin-top: 10px;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    border: none;
}

input{
    margin: 0px;
    height: 50px;
    border-radius: 25px;
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
    border: none;
}

